{% extends 'base.html' %}
{% load thumbnail staticfiles i18n %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li class=""><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
        <li class=""><a class="active">{{ current_category }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="index">
        <h2>{% trans 'Courses' %}</h2>
        <ul class="row lessons">
            {% for course in current_courses %}
                <li class="col-md-3 list-item">
                    <a href="{{ course.get_absolute_url }}">
                        <div class="visible-content">
                            <div class="inner-content">
                                {% if course.category.image %}
                                    <img src="{% thumbnail course.category.image 300x200 crop %}" alt="{{ course.name }}" />
                                {% else %}
                                    <img src="{% static 'img/placeholder.jpg' %}" alt="placeholder" />
                                {% endif %}
                                <p>{{ course.name }}</p>
                            </div>
                        </div>
                        <div class="hide-item">
                            <div class="invisible-content">
                                <div class="inner-content">
                                    <p>{{ course.category.name }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}