{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Courses' %}</title>
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'vendor/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    {% block header_includes %}{% endblock %}
</head>
<body>
    <header>
        <form method="get" class="row" action="{% url 'search' %}">
            <input type="search" name="search" class="col-md-7" placeholder="{% trans 'Type the phrase...' %}" />
            <button class="col-md-2">{% trans 'Search' %}</button>
            {% comment %}
            <ul class="language col-md-offset-1 col-md-1">
                <li><a href="{% url 'lang' 'pl' %}">Pl</a></li> |
                <li><a href="{% url 'lang' 'en' %}">En</a></li>
            </ul>
            {% endcomment %}
        </form>
    </header>
    <div class="row">
        <div class="right-nav col-md-3">
            <nav>
                <ul>
                    {% for item in nav_items %}
                        <li><a href="{{ item.get_absolute_url }}"> {{ forloop.counter }}. {{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <section id="main" class="col-md-8">
            {% block breadcrumbs %}{% endblock %}
            {% block content %}

            {% endblock %}
        </section>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>